:root {
  --primary-color: #242424;
  --primary-bg: #bdc3c7;
  --secondary-bg: #ecf0f1;
  --light-color: #888;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --alert-color: #c0392b;
  --success-color: #27ae60;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: var(--primary-color);
  background-color: var(--primary-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/** Flex Utilities **/
.d-flex {
  display: flex;
}
.d-column {
  flex-direction: column;
}
.d-wrap {
  flex-wrap: wrap;
}
.d-x-center {
  justify-content: center;
}
.d-x-between {
  justify-content: space-between;
}
.d-y-start {
  align-items: start;
}
.d-y-center {
  align-items: center;
}
.col-gap-x {
  column-gap: 1.5em;
}
.row-gap-6x {
  row-gap: 6em;
}
/** Margin Utilities **/
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
/** Padding Utilities **/
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
/** Color Utilities **/
.c-light {
  color: var(--light-color);
}
.c-alert {
  color: var(--alert-color);
}
.c-success {
  color: var(--success-color);
}
.bg-primary {
  background: var(--primary-bg);
}

.btn {
  font-size: 0.8em;
  padding: 0.5em;
}
.card {
  border: 1px solid var(--primary-color);
  border-radius: 0.35em;
  background: var(--secondary-bg);
  padding: 1em;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: var(--primary-color);
  color: #f9f9f9;
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}
button.outline {
  background: transparent;
  border: 1px solid var(--primary-color);
  color: 1px solid var(--primary-color);
}
button.alert {
  background: var(--alert-color);
  color: var(#fff);
}